/* CSS for general styling */
.body {
	display: flex;
	justify-content: center;
	align-items: center;
	
} 

.cube {
	align-items: center;
	width: 300px; 
	height: 300px;
	position: relative; 
	transform-style: preserve-3d;
	animation: rotate 15s linear infinite;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
}

/* Applying styles to each face */
.box1 {
	transform: translateZ(150px);
}

.box2 {
	transform: rotateY(90deg) translateX(150px);
	transform-origin: right;
}

.box3 {
	transform: rotateY(180deg) translateZ(150px);
}

.box4 {
	transform: rotateY(-90deg) translateX(-150px);
	transform-origin: left;
}

.box5 {
	transform: rotateX(-90deg) translateY(-150px);
	transform-origin: top;
}

.box6 {
	transform: rotateX(90deg) translateY(150px);
	transform-origin: bottom;
}

/* Animating the elements */
@keyframes rotate {
	0%,
	100% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotateY(90deg) rotateZ(90deg);
	}
	40% {
		transform: rotateY(180deg) rotateZ(-90deg);
	}
	60% {
		transform: rotateY(270deg) rotateZ(90deg);
	}
	80% {
		transform: rotateY(360deg) rotateZ(-90deg);
	}
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #d11ba3;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #070000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(252, 252, 252);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d11ba3;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


.topnav .search-container {
	float: right;
  }
  
  .topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
  .topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .topnav .search-container button:hover {
	background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
	.topnav .search-container {
	  float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.topnav input[type=text] {
	  border: 1px solid #ccc;  
	}
	.w3-bar .w3-button .w3 a {
		padding: 20px;
		color: #000000;
	  }
	card {
		background-color: #d11ba3;
	}
  }

  
  
  